<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center mb-5">Example ViaCEP (Angular 4.X)</h2>
            <hr class="mb-5">

            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card card-outline-secondary">
                        <div class="card-header">
                            <h3 class="mb-0">Login</h3>
                        </div>
                        <div class="card-block">
                            <form class="form" novalidate>
                                <div class="form-group">
                                    <label for="zipcode">ZIP Code</label>
                                    <input #zipcode class="form-control" id="zipcode" type="text" placeholder="ZIP Code (required)" [(ngModel)]="zipcodeModel" [textMask]="{mask: zipcodeMask, placeholderChar: '\u2000', guide: false }" [ngModelOptions]="{standalone: true}" required="" />
                                </div>

                                <button (click)="onClickZipcode(zipcode.value)" type="button" class="btn btn-success btn-lg float-right">Find</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <app-zip-code-details [address]="searchAddress"></app-zip-code-details>

        </div>
    </div>
</div>
